<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="/dashboard/index">صفحه اصلی</a></li>
            <li><a href="/contacts">مدیریت تماس باما</a></li>
            <li class="active"><%= title %></li>
        </ol>
    </div>
</div>

<p></p>
<div class="row">
    <div class="col-sm-12">
        <a href="/contacts/<%= contact.id %>/delete" class="btn btn-danger" onclick="return confirm('آيا مطمئن هستید؟')">حذف</a>
    </div>
</div>
<p></p>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-responsive">
            <tr>
                <th>نام</th>
                <td><%= contact.name %></td>
            </tr>
            <tr>
                <th>پست‌الکترونیکی</th>
                <td><%= contact.email %></td>
            </tr>
            <tr>
                <th>IP</th>
                <td><%= contact.ip %></td>
            </tr>
            <tr>
                <th>موضوع</th>
                <td><%= contact.subject %></td>
            </tr>
            <tr>
                <th>پیام</th>
                <td><%= contact.body %></td>
            </tr>
        </table>
    </div>
</div>